//registry.npmjs.org/:_authToken=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
//npm.pkg.github.com/:_authToken=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
//registry.yarnpkg.com/:_authToken=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
ignore-scripts=true
